<main class="big-side-main">
    <section class="section-image">
        <div class="img">
            <img src="{{ photoCover }}" width="750" height="300">
        </div>
    </section>

    <section class="section-divs">
            <div class="text-big">
                <h2 class="title-big">{{ bigTitle }}</h2>
            </div>
            <div class="main-side">
                <p class="description">{{ description }}
                </p>
                <button class="read-more-button">{{ buttonTitle }}</button>
        </div>
    </section>
</main>
