<main class="big-side-main">
    <section class="section-image">
        <div class="img">
            <img src="../../../assets/img/image-web-3-desktop.jpg" width="750" height="300">
        </div>
    </section>

    <section class="section-divs">
            <div class="text-big">
                <h2>The Bright<br> Future of<br> Web 3.0?</h2>
            </div>
            <div class="main-side">
                <p>We dive into the next evolution of the web that<br>
                    claims to put the power of the platforms back<br>
                    into the hands of the people. But is it really<br>
                    fullfilling its promise?
                </p>
                <button class="read-more-button">READ MORE</button>
        </div>
    </section>
</main>
