.big-side-main {
    display: flex;
    width: 800px;
    padding: 15px 25px;
    flex-direction: column;
}
.section-image {
    display: flex;
    width: 800px;
}
.description {
    width: 350px;
}
.title-big {
    width: 300px;
}
.section-divs {
    margin-top: 30px;
    display: flex;
    width: 780px;
    flex-direction: row;
    justify-content: space-around;
}
p {
    margin-top: 15px;
    font-family: "Inter", sans-serif;
    color: rgb(102, 102, 102);
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}
.text-big {
    font-size: 30px;
    margin-top: 15px;
    font-family: "Inter", sans-serif;   
}
.text-big h2{
    font-family: "Inter", sans-serif;
    font-weight: 800;    
}
.read-more-button {
    margin-top: 15px;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    background-color: rgb(240, 87, 60);
    width: 10rem;
    height: 3rem;
    letter-spacing: 4px;
}
.read-more-button:hover {
    background-color: rgb(241, 117, 95) ;
    cursor: pointer;
}
