<div class="container">
    <app-itens-footer
        photoCover="../../../assets/img/image-retro-pcs.jpg"
        count="01"
        title="Reviving Retro PCs"
        paragraph="What happens when old PCs are givin modern upgrades?"
        >
    </app-itens-footer>

    <app-itens-footer
        photoCover="../../../assets/img/image-top-laptops.jpg"
        count="02"
        title="Top 10 Laptops of 2022"
        paragraph="Our best picks for various needs and budgets."
    >

    </app-itens-footer>
    
    <app-itens-footer
        photoCover="../../../assets/img/image-gaming-growth.jpg"
        count="03"
        title="The Growth of Gaming"
        paragraph="How the pandemic has sparked fresh opportunities."
    >

    </app-itens-footer>
</div>
