<app-header></app-header>
<div class="container-navs">
    <app-nav-page photoCover="../../../assets/img/image-web-3-desktop.jpg"
        bigTitle="The Bright Future of Web 3.0?"
        description="We dive into the next evolution of the web that claims to put the power of the platforms
        back into the hands of the people.
        But is it really fullfilling its promise?"
        buttonTitle="READ MORE"
    >
    </app-nav-page>
    <app-nav-side></app-nav-side>
</div>
<div>
    <app-footer ></app-footer>
</div>
